{% for contact in contacts %}
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">{% contact.getFullName %}</h3>
  </div>
  <div class="panel-body">
    <span class="label label-default">Phone:  </span>{% contact.getEmailAddress %}<br>
    <span class="label label-default">Phone:  </span>{% contact.getPhone %}<br>
    <span class="label label-default">Address:</span>{% contact.getStreetAddress %}<br>
    <span class="label label-default">        </span>{% contact.getCity %}, {% contact.getState %} {% contact.getZipCode %}<br>
    {% if contact.getNotes %}
      <hr>
      <p>{% contact.getNotes %}</p>
    {% endif %}
  </div>
</div>
{% endfor %}
