<!DOCTYPE html>
<html>
  <head>

    {% include 'head.html.twig' %}

  </head>
  <body>

    {% include 'navbar.html.twig' %}

    <div class="container">

      {% if form %}
        {% include 'form.html.twig' %}
      {% endif %}

      {% if contacts %}
        {% include 'contact.html.twig' %}
      {% endif %}


    </div>

  </body>
</html>
